<div class="container">
  <h1>Edit survey <%= @survey.id %>: <%= @survey.title %></h1>
  <img src="/img/logo.jpg" alt="polar bear using a computer">

  <div>
      <ul class="edit_list">
        <form action="/surveys/<%= @survey.id %>" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" id="survey_id" value="<%= @survey.id %>"></input>
          <input type="hidden" id="user_id" value="<%= session[:user_id] %>">
          <% @questions.each do |question| %>
          <li><%= question.id %>. <input type="text" name="<%= question.id %>" value="<%= question.content %>"></li>
          <% end %>
          <br>
          <input type="submit" class="edit_button" value="Submit changes">
          <input type="submit" id="delete_survey" value="Delete Survey">
        </form>
      </ul>
    </div>

</div>