<div class="container">
  <h1>Edit survey <%= @survey.id %>: <%= @survey.title %></h1>
  <img src="/img/logo.jpg" alt="polar bear using a computer">

  <div>
      <ul class="edit_list">
        <form action="/surveys/<%= @survey.id %>" method="post">
          <% @questions.each do |question| %>
          <li><%= question.id %>. <input type="text" name="<%= question.id %>" value="<%= question.content %>"></li>
          <% end %>
          <br>
          <input class="edit_button" type="submit" value="Submit changes">
        </form>
      </ul>
    </div>

</div>