<div class="container">
<h1>Survey: <%= @survey.title %></h1>
<img src="/img/logo.jpg" alt="polar bear using a computer">

  <div class="questions_list">
    <ul>
      <form action="/surveys/<%= @survey.id %>" method="post">
        <% @questions.each do |question| %>
        <li>
          <p><%= question.content %></p>
            1. <input class="list_answers" type="radio" name="<%= question.id %>" value="1">
            2. <input class="list_answers" type="radio" name="<%= question.id %>" value="2">
            3. <input class="list_answers" type="radio" name="<%= question.id %>" value="3">
            4. <input class="list_answers" type="radio" name="<%= question.id %>" value="4">
            5. <input class="list_answers" type="radio" name="<%= question.id %>" value="5"> <br>
        </li>
        <% end %>
        <br>
        <input class="list_answers" type="submit" value="Submit">
      </form>
    </ul>
  </div>
  <% if @allow_edit %>
    <a href="/surveys/<%= @survey.id %>/edit"><button type="button">Edit survey</button></a>
  <% end %>
  <a href="/surveys/<%= @survey.id %>/results"><button type="button">View results</button></a>

</div>
