<div class="container">
<img src="/img/logo.jpg" alt="polar bear using a computer">

  <div class="questions_list">
    <h2>Survey: <%= @survey.title %></h2>
    <ul>
      <form action="/surveys/<%= @survey.id %>" method="post">
        <% @questions.each do |question| %>
        <li>
          <a href="/surveys/"><%= question.content %></a>
          <br>
            1. <input class="list_answers" type="radio" name="<%= question.id %>" value="1">
            2. <input class="list_answers" type="radio" name="<%= question.id %>" value="2">
            3. <input class="list_answers" type="radio" name="<%= question.id %>" value="3">
            4. <input class="list_answers" type="radio" name="<%= question.id %>" value="4">
            5. <input class="list_answers" type="radio" name="<%= question.id %>" value="5"> <br>
        </li>
        <% end %>
        <br>
        <input class="list_answers" type="submit" value="Submit">
      </form>
    </ul>
  </div>

</div>

